.container{
    background-color: wheat;
    display: flex;
}
.box{
    height: 300px;width: 300px;
    background-color: aqua;
    color: red;
    margin: 30px;
}
@media(max-width:600px){
    .container{
        flex-direction: column;
    }
}
/* @media(max-width:500px){
    .container{background-color: blue;}
} */