body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    background-color: wheat;
    padding: 20px 20px;
    height: 140px;
    width: 400px;
    text-align: center;
}