.container{
    background-color: aqua;
    height: 150px;
    width: 200px;
    overflow: scroll;
}
.a{
    float: right;
}
.b{
    float: left;
    margin-right: 10px;
}
.d{
    float: right;
    clear: right;
} 
.c{
    float: right;
}